body {
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.card-page {
  display: flex;
  justify-content: space-around;
}

.card-form {
  display: block;
  width: 50%;
}

.form-item {
  margin: 3px;
}
